@import "tailwindcss";

@theme {

  --color-background: #0B1120;
  --color-surface: #172033;
  --color-foreground: #F8FAFC;
  --color-muted: #94A3B8;
  --color-border: #293449;
  --color-primary: #2563EB;

}

body {
  background-color: var(--color-background);
}